# SMTP Configuration for Nodemailer (Outlook 365/GoDaddy)
SMTP_HOST=smtp.secureserver.net 
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=contact@teranga-te.com
SMTP_PASS=teranga@2026
SMTP_FROM=contact@teranga-te.com

# Server Port
PORT=3001
